@page "/sobre"

<PageTitle>Sobre</PageTitle>

<h3>Sobre</h3>

Olá, sou Felipe Barbosa Nink, um jovem estudante do IFRO em busca de aprendizados na área da informática. 
Esse site é um teste de aprendizados e uma avaliação.

@code {

}
